.about-head {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7% 3%;
  box-sizing: border-box;
}

.intro-text {
  width: 50%;
}

.intro-img {
  display: flex;
  align-items: center;
  width: 40%;
}

.intro-img img {
  width: 100%;
}

.intro-text h1 {
  font-size: 2.1em;
  padding-bottom: 20px;
  text-align: center;
}
.container p span {
  color: #c770f0;
  font-style: italic;
  font-weight: 600;
}
span {
  color: #c770f0;
}
.container p {
  text-align: justify;
  font-size: 1.25rem;
}
.container ul {
  list-style: none;
}
ul li {
  display: flex;
  gap: 10px;
  padding: 5px 0px;
}

.about-footer {
  background-color: transparent;
  padding: 0;
  justify-content: center;
  color: rgb(155, 126, 172);
}

/* skills section */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 5%;
}

.skill:hover {
  transform: scale(1.08);
  opacity: 1;
  outline-color: rgba(200, 137, 230, 0.8); /* brighter */
  box-shadow: 0 0 12px rgba(200, 137, 230, 0.7); /* glow */
}

.skill {
  align-items: center;
  align-self: center;
  gap: 5px;
  border-radius: 24px;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin: 15px;
  opacity: 0.93;
  outline: 1.7px solid rgba(200, 137, 230, 0.637);
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.4s ease;
  vertical-align: middle;
  width: fit-content;
}

.tools {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}
