.project-head {
  text-align: center;
  padding-top: 5%;
}
.project-head h1 {
  margin-bottom: 0;
  font-size: 2.5rem;
}
.project-head p {
  margin-top: 10px;
  font-size: 1.1rem;
}

.project-container {
  width: 100%;
}

.inner-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 5%;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  padding: 20px;
  background-color: #0a000e;
  border-radius: 20px;
  margin-bottom: 3%;
}

.card-text {
  font-family: "Elsie Swash Caps";
}
.card-text a {
  background-color: #623686;
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.25s ease, background-color 0.25s ease,
    box-shadow 0.25s ease;
}
.card-text a:hover {
  transform: translateY(-4px) scale(1.05);
  background-color: #7a47a3;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

  box-shadow: 0 0 10px rgba(205, 95, 248, 0.5), 0 0 20px rgba(205, 95, 248, 0.4),
    0 0 30px rgba(205, 95, 248, 0.2);
}

.github-btns {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  text-align: center;
  width: 95%;
  margin-bottom: 0;
}
.project-description {
  text-align: justify;
  padding: 10px;
  line-height: 20px;
}
