@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Fondamento:ital@0;1&family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eagle Lake", PT Mono, monospace;
  color: white;
  background-color: #1c0227;
}
h1 {
  font-weight: 500;
  font-family: "Fondamento";
}
.home-head {
  display: flex;
  justify-content: space-around;
  margin-bottom: 14%;
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
  background-color: #1b1a2ea9;
  z-index: 1;
}
nav .logo {
  padding-left: 10px;
}
nav .nav-links {
  display: flex;
  gap: 80px;
  padding-right: 200px;
  font-size: 1.3em;
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0%;
  height: 5px;
  border-radius: 20px;
  background-color: #cd5ff8;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.logo a {
  position: relative;
  color: #cd5ff8;
  font-size: 2.5em;
  font-weight: bold;
  font-family: math;
}

.logo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background-color: #cd5ff8;
  transition: width 0.3s ease;
}

.logo a:hover::after {
  width: 100%;
}

nav a.active {
  color: #cd5ff8;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: black;
  font-weight: 700;
  font-size: 1.2em;
  font-style: italic;
  font-family: "Elsie Swash Caps";
}
.social-links {
  font-size: x-large;
}
.social-link {
  color: #cd5ff8;
  padding-right: 20px;
}
.author-name {
  color: #cd5ff8;
}
